{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="container bg-light py-5">
        <h1 class="decalage">Inscrivez vous sur notre site</h1>
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success">Confirmez l'inscription</button>
                    {{ form_end(form) }}
                </div>
            </div>
    </div>
    {% block javascripts %}
        <script type="text/javascript" language="javascript">
            var parcours1 = document.querySelector('#registration_yearsBac_month');
            var parcours2 = document.querySelector('#registration_yearsBac_day');

            parcours2.style.display = 'none';
            parcours1.style.display = 'none';

        </script>
    {% endblock %}
{% endblock %}