{% extends 'admin/base.html.twig' %}

{% block title %}Les utilisateurs{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Liste des utilisateurs</h1>

        <table id="tab" class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Nom / Prénom</th>
                <th >Année d'obtention du Bac</th>
                <th >Filière Bac</th>
                <th >Edutiant / Prof.</th>
                <th class="text-center">En savoir plus !</th>
            </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.author.fullname}}</td>
                    <td >{{ annonce.author.yearsBac |date }}</td>
                    <td >{{ annonce.author.typeBac }}</td>

                    <td class="text-center">
                        <a href=""></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#tab').DataTable(
                {
                    "language": {
                        "lengthMenu": "Resultats _MENU_ par page",
                        "zeroRecords": "Nothing found - sorry",
                        "info": "Page _PAGE_ sur _PAGES_",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                }
            );
        });
    </script>
{% endblock %}