
.body-login{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.card-login{
    margin-top: 10%;
}

div.container, div.container-fluid{
    margin-top: 20px;
}

.footer{
    position:absolute;
    bottom: 0;
    margin-top: 10px;
}

html {
    position: relative;
    min-height: 100%;
}
.home{
    background-image: url("/pictures/MontphotoTran05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color: #42904e;
    font-size: 1.2em;
}

.decalage{
    padding-top: 50px;
}
body{
    background-image: url("/pictures/quartierLeMasO70.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size:100%;
    font-family: Tahoma;
}


.h1quartier{
    border-radius: 10px;
    padding: 5px;
    width: 80%;
    background-color: #42904e;
    text-align: center;
    margin-top: -40px;
    margin-left: -10px;
}

.meteo{
    width:350px;
    height: 250px;
    border-radius: 5px;
}

.liens{
    width: 350px;
    background-color: #42904e;
    border-radius: 5px;
}

.titlePagePublication{
    border-radius: 5px;
    padding: 5px;
    width: 70%;
    background-color: #42904e;
}

@media screen and (max-width: 64em) {
    .h1quartier{
        border-radius: 10px;
        padding: 5px;
        width: 100%;
        background-color: #42904e;
        text-align: center;
        margin-top: 20px;
        margin-left: -10px;
    }
    .liens{
        width: auto;
        background-color: #42904e;
        border-radius: 5px;
    }

    .meteo{
        width:auto;
        height: 250px;
        border-radius: 5px;

    }
    .titlePagePublication{
        border-radius: 5px;
        padding: 5px;
        width: 90%;
        background-color: #42904e;
    }

}

.jumbotron {
    background-image: url("/pictures/quartierLeMas.png");
    background-size: cover;
    height: 600px;
}


.btn-primary{
    background-color: #42904e;
    border-color: #42904e;
}

.author{
    color:#42904e;
}

.badge-primary{
    background-color: #42904e;
}

.titlePage{
    border-radius: 5px;
    padding: 5px;
    width: 50%;
    background-color: #42904e;
}

.h2home{
    background-color: #42904e;
    border-radius: 5px;
    padding: 5px;
}

.titlePageAnnonce{
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    background-color: #42904e;
}

.carousel-item{
    max-height: 410px;
}

