{% extends 'base.html.twig'%}

{% block title %}Bienvenue{% endblock %}
{% block body %}
<div class="container-fluid home">
    <div class="container pt-2">
        <div class="jumbotron mt-5">
            <div class="h1quartier">
            <h2 class="text-white "><strong>BIENVENUE SUR LE SITE DU LYCEE</strong></h2>
            <p class="lead text-white">Echangez sur vos parcours, Gardez le contact</p>
            </div>
        </div>
            <div class="h2home mt-3">
            <h2 class="text-white">Dernières informations du Lycée</h2>
            <div class="card bg-light mb-3" >
                <div class="card-body">
                {% for publication in publications  %}
                            <a class="text-dark" href="{{ path('publication_show') }}">- {{ publication.subject}}</a><br>

                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-between pr-3">
            <div class="col-12 col-lg-4 mt-3 mb-5 ">
                <iframe src="https://www.meteo-nantes.net/widget/prevision-meteo" frameborder="0" style="width:340px; height: 250px;"></iframe>
            </div>
            <div class="col-12 col-lg-4 mt-3 mb-5">
                <img src="/pictures/lycee.jpg" style="width:340px; height: 250px;"alt="">
            </div>
            <div class="liens ml-2 mt-3 mb-5">
                <h3 class="m-2">Les liens utiles</h3>
                    <ul class="list-unstyled">
                        <li class="m-3"><a class="text-white" href="https://honore-destienne-dorves.paysdelaloire.e-lyco.fr/"><img src="/pictures/liens/carquefou.jpg" alt="Lycee de Carquefou" style="height: 35px;">&nbsp;&nbsp; Lycée de Carquefou</a></li>
                        <li class="m-3"><a class="text-white" href="http://www.onisep.fr/"><img src="/pictures/liens/onisep.png" alt="onisep" style="height: 30px;">&nbsp;&nbsp; ONISEP</a></li>
                        <li class="m-3"><a class="text-white" href="https://www.emploi-store.fr/portail/accueil"><img src="/pictures/liens/emploi.jpeg" alt="emploi" style="height: 30px;">&nbsp;&nbsp; Emploi-Store</a></li>
                        <li class="m-3"><a class="text-white" href="https://www.letudiant.fr/"><img src="/pictures/liens/Etudiant.png" alt="etudiant" style="height: 30px;">&nbsp;&nbsp; L'etudiant</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
