{% extends 'base.html.twig'%}

{% block title %}Bienvenue{% endblock %}
{% block body %}
<div class="container">

    <div class="jumbotron" style="background-image: url(../pictures/village.jpg); background-size: cover; height: 610px;">
        <h1 class="display-3">Bienvenue sur le site de notre quartier</h1>
        <p class="lead">Partager, Echanger, Apprendre, Organiser, Fêter, Une vrai vie de quartier</p>

    </div>
    <div>
        <p>Des annoces, des évenements, des envies, des besoins, échanger simplement avec vos voisins pour se faciliter la vie et mutualiser ... </p>
    </div>

    <h2>Les derniéres nouvelles du quartiers</h2>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    Reunion Annuelle
                </div>
                <img src="http://placehold.it/1000*400" alt="image du quartier" style="height: 200px; width:100%; display: block ">
                <div class="card-body">
                    <h4 class="card-title">
                        Réunion annuelle
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fugit ipsa molestiae sunt? Consequuntur dignissimos ea earum enim, eos illo impedit modi nobis officiis voluptas.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    Reunion Annuelle
                </div>
                <img src="http://placehold.it/1000*400" alt="image du quartier" style="height: 200px; width:100%; display: block ">
                <div class="card-body">
                    <h4 class="card-title">
                        Réunion annuelle
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fugit ipsa molestiae sunt? Consequuntur dignissimos ea earum enim, eos illo impedit modi nobis officiis voluptas.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    Reunion Annuelle
                </div>
                <img src="http://placehold.it/1000*400" alt="image du quartier" style="height: 200px; width:100%; display: block ">
                <div class="card-body">
                    <h4 class="card-title">
                        Réunion annuelle
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fugit ipsa molestiae sunt? Consequuntur dignissimos ea earum enim, eos illo impedit modi nobis officiis voluptas.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
    </div>




</div>
{% endblock %}






{% block javascripts %}{% endblock %}