{% extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}
{%  block body %}

    <div class="container container bg-light py-5">
        <h1 class="decalage">Oups! La page n'existe pas !!!</h1>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>

{% endblock %}