{% extends 'base.html.twig' %}
{% block title %}Acces Interdit{% endblock %}
{%  block body %}

    <div class="container bg-light py-5">
        <h1 class="decalage">Acces Interdit !!!</h1>

        <div class="alert alert-danger">
            <p>Vous n'avez pas le droit d'accéder à cette ressource !</p>
        </div>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>

{% endblock %}